version: '3.8'

services:
  producer:
    build:
      context: ./producer
    environment:
      - GCP_PROJECT_ID=${GCP_PROJECT_ID}
      - GCP_PUBSUB_TOPIC=${GCP_PUBSUB_TOPIC}
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
    volumes:
      - ${CREDENTIALS_PATH}:/app/credentials.json:ro
    depends_on:
      - consumer

  consumer:
    build:
      context: ./consumer
    environment:
      - GCP_PROJECT_ID=${GCP_PROJECT_ID}
      - GCP_PUBSUB_SUBSCRIPTION=${GCP_PUBSUB_SUBSCRIPTION}
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
    volumes:
      - ${CREDENTIALS_PATH}:/app/credentials.json:ro